main{
    display: flex;
    justify-content: space-between;
}
article{
    margin: 0;
    padding: 0;
    width: 33%;
}

.flex_direction,
.justify_content,
.flex_grow{
    margin: 1rem;

}

.elemento {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    margin: 0.3rem;
}

.flex_direction .fd_container:nth-child(3),
.flex_direction .fd_container:nth-child(4) {
  width: 100%;
}