html{
    font-size: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

h1,h2,h3{
    font-family: 'Merriweather', serif;
}
h2{
    font-size: 2em;
    margin-bottom: 3rem;
}

li{
    list-style: none;    
}

a{
    text-decoration: none;
    display: block;
    color: black;
}

/* Esto es para que las imagen ocupen el 100% del contenedor y no mas */
img{
    max-width: 100%;
    display: block;
}

/* ****HEADER**** */
.header__titulo{
    text-align: center;
    margin: 3rem 0;
    font-size: 3em;
}
.menu{
    border-top: lightgray solid 1px;
    padding: .3rem 5rem ;
}
.menu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: .5rem;
}
.menu__list-link{
    padding: .2rem;
}
.menu__list-link:hover{
    color: aliceblue;
    background-color: blue;
}
.header__hero{
    background-image: url(../img/principal.jpg);
     /* Ajusta cómo se muestra la imagen */
    background-size: cover; /* La imagen se ajusta para cubrir todo el contenedor */
    background-position: center; /* La imagen se posiciona en el centro */
    width: 100%;
    height: 31.25rem;
}

/* ****CATEGORIAS**** */
.categorias{
    width: 75%;
    margin: auto;
    margin-top: 5rem;
}
.categorias__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    justify-content: center;
}
.categorias > h2{
    text-align: center;
    /* font-size: 2em; */
}
.categorias a
{
    text-align: center;
    padding: 1.2rem;
    font-size: 1.3em;
    margin-top: 0;
}
.categorias a:hover{
    background-color: #037bc0;
    color: aliceblue;
    border-bottom-right-radius: 1rem;
    /* border-bottom-left-radius: 1rem; */
}


/* ****NOSOTROS**** */
.nosotros{
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    margin-top: 5rem;
    height: 20rem;
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%), url(../img/nosotros.jpg);
    background-size: 100%, 50rem;
    background-position: left center;
    background-repeat: no-repeat;
}
.nosotros__contenedor{
    padding-top: 2rem;
    flex-basis: 47%;
    padding-right: 10rem; /* Ajusta el espacio a la derecha */
    box-sizing: border-box; /* Incluye el relleno en la dimensión total del elemento */
    color:#fff;
}