/* ----------------GENERALES--------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* ----------------GENERALES--------------- */

/* ----------------HEADER--------------- */
.header {
  /* background: radial-gradient(
      circle,
      rgba(98, 4, 102, 0.102),
      rgb(35, 4, 61) 90%
    ),
    url("/imgHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: rgb(35, 4, 61);
  height: 600px;
  display: flex;
  flex-direction: column;
}

/* ----------------NAV--------------- */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ----------------LOGO--------------- */
.logo {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  padding: 0 1rem;
}

/* ----------------TOGGLE--------------- */
.toggle {
  font-size: 1.5em;
  cursor: pointer;
  border: none; /* Remove button border */
  background: none; /* Remove button background */
  padding: 0 3rem; /* Remove button padding */
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
}

/* ----------------MENU--------------- */
.menu {
  position: absolute; /* Stay in place */
  top: 4rem; /* para que empiece debajo del header */
  left: 0; /* Left of header */
  width: 100%; /* Full width */
  height: 0;
  overflow: hidden; /* Oculta el contenido mientras esta inactivo*/
}
.menuOpen {
  height: 100vh; /* Full height*/
  transition: height 0.5s ease-in-out; /* Agrega una transición suave */
}

.menu li {
  background-color: #4d0588;
  text-align: center;
  padding: 1rem 0;
}
.menu li:hover {
  background-color: #4e0d6d;
}
.menu a {
  color: #fff;
  font-size: 1.7em;
}

/* ----------------MEDIA QUERIES--------------- */
@media screen and (min-width: 768px) {
  .nav {
    padding: 0;
  }
  .menu {
    position: static;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
  }
  .menu li {
    background-color: transparent;
    padding: 0 1rem;
  }
  .menu li:hover {
    font-size: 1.5rem;
  }
  .menu a {
    font-size: 1.2em;
  }
  .toggle {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 800px;
  }
  .logo {
    font-size: 2em;
  }
  .menu a {
    font-size: 1.5em;
  }
  .nav {
    padding:0 2rem;
  }
    
}
