html{
    font-size: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: .5rem;
}

h1{
    margin: auto;
    font-size: calc(2.5em + 3vw);
    font-family: 'Tilt Neon', sans-serif;
    color: darkslategrey;
}
/* ----------------HERO----------------- */
.hero{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(300px, 810px);
    margin: auto;
}
.hero__info{
    display: grid;
    justify-items: center;
}
.hero__info > p{
    margin: 0rem;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    max-width: 500px;
    word-wrap: break-word; 
    padding: 0.5rem;
}
.hero__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: auto;
    margin-top: 1rem;
}
.hero__button{
    height: 2.5rem;
    width: 10rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #FF6B1A;
    border: #FF6B1A solid;
    color: antiquewhite;
    font-size: 1.125em;
    cursor: pointer;
}

/* Services-section */
.services{
    margin: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
.services__title{
    text-align: center;
    font-size: calc(2em + 2.5vw);
}
.services__grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
}
.services__grid-item{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
}
