.hero__button{
    height: 3rem;
    width: 15rem;
    font-size: 1.5em;
}
.services__grid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.services-video{
    grid-row: span 2;
    grid-column: span 2;
}
